<!-- Body -->
<div class="container mt-3">
    <div class="border p-3 text-center">
        <a href="/admin/definenewbrand" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="bottom"
            data-bs-title="إضافة علامة تجارية جديدة"><i class="bi bi-plus-square"></i></a>
    </div>
    <hr>
    <!-- BRANDS Table -->
    <table class="table table-hover border text-center">
        <thead>
            <tr>
                <th scope="col">كود العلامة</th>
                <th scope="col">اسم العلامة</th>
                <th scope="col">عدد الأصناف التابعة للعلامة</th>
                <th scope="col">عمليات علي العلامة</th>
            </tr>
        </thead>
        <tbody>
            {{#each brandrows}}
            <tr>
                <th scope="row">{{BRAND_ID}}</th>
                <td>{{BRAND_NAME}}</td>
                <td>{عدد الأصناف التابعة للعلامة}</td>
                <td class="d-flex justify-content-center">
                    <a href="/admin/editbrands/{{BRAND_ID}}" class="btn btn-warning ms-2" data-bs-toggle="tooltip"
                        data-bs-placement="bottom" data-bs-title="تعديل بيانات العلامة التجارية"><i
                            class="bi bi-pencil"></i></a>
                    <form action="/admin/deletebrands/{{BRAND_ID}}?action=DELETE" method="post">
                        <button type="submit" class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="bottom"
                            data-bs-html="true"
                            data-bs-title="حذف العلامة التجارية <b>- لا يمكن الرجوع في هذا الإجراء</b>"><i
                                class="bi bi-trash"></i>
                        </button>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

</div>