<!-- Body -->
<div class="container mt-3">
    <div class="border text-center p-2">

        <button class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="bottom"
            data-bs-title="إضافة قسم جديد"><i class="bi bi-plus-square"></i></button>
    </div>

    <hr>
    <!-- Section Table -->
    <table class="table table-hover border text-center">
        <thead>
            <tr>
                <th scope="col">اسم القسم</th>
                <th scope="col">عدد الأصناف التابعة للقسم</th>
                <th scope="col">عمليات علي القسم</th>
            </tr>
        </thead>
        <tbody class="refreshSection">
            {{#each sectionrows}}
            <tr>
                <td>{{SECTION_NAME}}</td>
                <td>{عدد الأصناف التابعة للقسم}</td>
                <td class="d-flex justify-content-center">
                    <a href="/admin/editsections/{{SECTION_ID}}" class="btn btn-warning ms-2" data-bs-toggle="tooltip"
                        data-bs-placement="bottom" data-bs-title="تعديل بيانات القسم"><i
                            class="bi bi-pencil"></i></a>
                    <form action="/admin/deletesections/{{SECTION_ID}}?action=DELETE" method="post">
                        <button type="submit" class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="bottom"
                            data-bs-html="true" data-bs-title="حذف القسم <b>- لا يمكن الرجوع في هذا الإجراء</b>"><i
                                class="bi bi-trash"></i>
                        </button>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <hr>
    <div class="alert alert-dark" role="alert">
        إضافة قسم جديد
    </div>
    <div class="container">
        <div class="row border pt-3 pb-3">
            <div class="col">
                <form action="/admin/listallsections" method="post" class="needs-validation" novalidate>
                    <!-- SECTION NAME -->
                    <div class="input-group mb-3 has-validation">
                        <span class="input-group-text" id="sectionName-addon">إسم القسم الجديد</span>
                        <input name="sectionName" id="sectionName" type="text" class="form-control" placeholder="مثال: أقراص"
                            aria-label="sectionName" aria-describedby="sectionName-addon" required>
                        <div class="invalid-feedback">
                            من فضلك أدخل إسم قسم صحيح
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-outline-success" id="sectionCreator" type="submit">إعتماد القسم الجديد</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>