<!-- Body -->
<div class="container mt-3">
    <form class="align-items-center">
        <div class="border py-2 px-2">
            <div class="row align-items-center">
                <label class="visually-hidden" for="InvoiceNO">رقم الفاتورة</label>
                <div class="input-group">
                    <div class="input-group-text">رقم الفاتورة</div>
                    <input type="number" class="form-control" id="InvoiceNO"
                        placeholder="يتم توليد رقم الفاتورة تلقائياً بعد حفظها" readonly>
                    <button type="submit" class="btn btn-secondary me-2" data-bs-toggle="tooltip"
                        data-bs-placement="bottom" data-bs-title="إستعادة آخر فاتورة"><i
                            class="bi bi-arrow-down-circle"></i></button>
                </div>
            </div>
            <div class="row py-2">
                <div class="col">
                    <label class="visually-hidden" for="VendorRelated">شراء من مورد</label>
                    <div class="input-group">
                        <div class="input-group-text">شراء من مورد</div>
                        <select class="form-control" id="select-state" placeholder="Pick a state...">
                            <option value="">Select a state...</option>
                            <option value="AL">شركة حمص</option>
                            <option value="AK">شركة ال سلامه</option>
                           
                        </select>
                    </div>
                </div>
                <div class="col">
                    <label class="visually-hidden" for="PurchaseTime">وقت الشراء</label>
                    <div class="input-group">
                        <div class="input-group-text">وقت الشراء</div>
                        <input type="date" class="form-control" id="PurchaseTime" placeholder="PurchaseTime" readonly>
                    </div>
                </div>
            </div>

        </div>

        <hr>
        <div class="border py-2 px-2">
            <div class="row align-items-center">
                <label class="visually-hidden" for="ItemSearch">البحث عن صنف</label>
                <div class="input-group">
                    <div class="input-group-text">البحث عن صنف</div>
                    <input type="text" class="form-control" id="ItemSearch" placeholder="اسم الصنف">
                </div>
            </div>
        </div>
        <div class="py-2 px-2">
            <div class="row align-items-center table-responsive">
                <table id="PurchaseInvoiceTable" class="table table-hover border">
                    <thead>
                        <tr>
                            <th scope="col">باركود الصنف</th>
                            <th scope="col">إسم الصنف</th>
                            <th scope="col">سعر شراء المنتج</th>
                            <th scope="col">نسبة الضريبة</th>
                            <th scope="col">قيمة الضريبة</th>
                            <th scope="col">سعر بيع المنتج</th>
                            <th scope="col">الكمية المشتراه</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row" contenteditable>{باركود الصنف}</th>
                            <td>{اسم الصنف}</td>
                            <td>{سعر شراء الصنف}</td>
                            <td>{نسبة الضريبة}</td>
                            <td>{قيمة الضريبة}</td>
                            <td>{سعر بيع المنتج}</td>
                            <td contenteditable>{الكمية المشتراه}</td>
                            <td>
                                <button class="btn btn-sm btn-danger"><i class="bi bi-trash3"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <hr>
        <div class="text-center border py-2">
            <button type="submit" class="btn btn-outline-success">
                تسجيل الفاتورة
            </button>
        </div>

    </form>

</div>
<div class="toast-container position-fixed bottom-0 start-0 p-3 mb-3">
    <div class="toast bottom-0 end-0" id="InvoiceInfotoast" data-bs-autohide="false">
        <div class="toast-header">
            <button class="btn-minimize ms-auto" data-bs-toggle="collapse" data-bs-target="#autominimize"></button>
            <strong class="ms-auto">Bootstrap</strong>
        </div>
        <div class="toast-body collapse collapse-horizontal show" id="autominimize">
            <table class="table table-hover border">
                <thead>
                    <tr>
                        <th scope="col">إجمالي عدد الأصناف المشتراه</th>
                        <th scope="col">قيمة فاتورة الشراء</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{إجمالي عدد الأصناف المشتراه}</th>
                        <td>{قيمة فاتورة الشراء}</td>
                    </tr>
                </tbody>
        </div>
    </div>
</div>