<div class="container">
    <div class="card card-login mx-auto my-5">
    <div class="card-header">تسجيل الدخول</div>

    <div class="card-body">
        <form action="/login" method="post">

            <div class="form-group">
                <label for="passnameInput">إسم المتسخدم:</label>
                <input name="passname" class="form-control" id="passnameInput" type="text"
                    aria-describedby="passnameHelper" placeholder="برجاء إدخال اسم المتسخدم">
            </div>
            <div class="form-group">
                <label for="passwordInput">كلمة المرور:</label>
                <input name="password" class="form-control" id="passwordInput" type="password"
                    placeholder="برجاء إدخال كلمة المرور">
            </div>
            <div class="text-center mt-2">
                <button type="submit" class="btn btn-outline-success btn-block">دخول</button>
            </div>
        </form>

    </div>
</div>
</div>