<!-- Body -->
<div class="container mt-3">
    <div class="border text-center p-2">
        <span data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            <button class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="bottom"
                data-bs-title="إضافة قسم جديد"><i class="bi bi-plus-square"></i></button>.
        </span>
    </div>

    <hr>
    <!-- Section Table -->
    <table class="table table-hover border text-center">
        <thead>
            <tr>
                <th scope="col">اسم القسم</th>
                <th scope="col">عدد الأصناف التابعة للقسم</th>
                <th scope="col">عمليات علي القسم</th>
            </tr>
        </thead>
        <tbody class="refreshSection">
            {{#each sectionrows}}
            <tr>
                <td>{{SECTION_NAME}}</td>
                <td>{عدد الأصناف التابعة للقسم}</td>
                <td class="d-flex justify-content-center">
                    <a onclick="window.open('/admin/sections/editsections/{{SECTION_ID}}', '_blank', 'width=800,height=600,location=0,titlebar=0');"
                        class="btn btn-warning ms-2" data-bs-toggle="tooltip" data-bs-placement="bottom"
                        data-bs-title="تعديل بيانات القسم"><i class="bi bi-pencil"></i></a>
                    <form action="/admin/sections/deletesections/{{SECTION_ID}}?action=DELETE" method="post">
                        <button type="submit" class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="bottom"
                            data-bs-html="true" data-bs-title="حذف القسم <b>- لا يمكن الرجوع في هذا الإجراء</b>"><i
                                class="bi bi-trash"></i>
                        </button>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>


    <!-- Add New Section Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form action="/admin/sections/listallsections" method="post" class="needs-validation" novalidate>
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">بيانات القسم الجديد</h1>
                    </div>
                    <div class="modal-body">
                        <div class="row border pt-3 pb-3">
                            <div class="col">
                                <!-- SECTION NAME -->
                                <div class="input-group mb-3 has-validation">
                                    <span class="input-group-text" id="sectionName-addon">إسم القسم الجديد</span>
                                    <input name="sectionName" id="sectionName" type="text" class="form-control"
                                        placeholder="مثال: أقراص" aria-label="sectionName"
                                        aria-describedby="sectionName-addon" required>
                                    <div class="invalid-feedback">
                                        من فضلك أدخل إسم قسم صحيح
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">إغلاق</button>
                        <button type="submit" class="btn btn-outline-success">إعتماد القسم الجديد</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>